<div class="page" data-name="code-reader">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <!--<a class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>-->
            </div>
            <div class="title comeback">Плюс</div>
        </div>
    </div>
    <div class="page-content ptr-content user-code" data-ptr-mousewheel="true" id="all_actions_page">

        <form class="list inset" id="my-form">
            <ul>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Код или телефон покупателя</div>
                            <div class="item-input-wrap"><input type="number" id="code-input" name="name"
                                                                placeholder="введите код или телефон"
                                                                class=""></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <!--<button class="button button-large button-fill">Найти Пользователя</button>-->
                            <!--Demo: -->
                            <a id="search-user-btn" class="button button-large button-fill"
                               style="display: block; width:100%;">Найти Пользователя</a>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="block block-strong scaner-btn inset">
            <button id="scan_btn" class="button button-large button-fill">Сканировать штрих-код</button>
        </div>

    </div>

    <div class="toolbar tabbar tabbar-labels toolbar-bottom">
        <div class="toolbar-inner">
            <a href="/history/" class="tab-link">
                <i class="material-icons">history</i>
                <span class="tabbar-label">Статистика</span>
            </a>

            <a href="/code_reader/" class="tab-link link-plus"></a>
            <div class="tab-link">
                <div class="fab fab-right-bottom">
                    <a href="#" class=""><i class="material-icons">add</i> <i class="material-icons">clear</i></a>
                    <div class="fab-buttons fab-buttons-top">
                        <a class="fab-label-button" href="/login/"><span class="material-icons">exit_to_app</span><span
                                class="fab-label">Выход</span></a>
                        <a class="fab-label-button" href="/profile/"><span class="material-icons">face</span><span
                                class="fab-label">Профиль</span></a>
                        <a class="fab-label-button" href="/support/"><span
                                class="material-icons">ring_volume</span><span class="fab-label">Поддержка</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>