<div class="page" data-name="history">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <!--<a class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>-->
            </div>
            <div class="title">Моя статистика</div>
        </div>
    </div>
    <div class="page-content ptr-content cashier-timeline" data-ptr-mousewheel="true" id="all_actions_page">


        <div class="timeline timeline-horizontal col-75 tablet-20">
            <!-- Timeline Item (Day) -->
            <div class="timeline-item">
                <div class="timeline-item-date">
                    <span class="day">20</span>
                    <small class="month">ИЮЛЯ</small>
                    <div class="total">
                        <span class="badge plus">0</span>
                        <span class="badge bonus">0</span>
                    </div>
                </div>
                <div class="timeline-item-content">
                    <div class="block-title">НЕТ ДАННЫХ</div>
                </div>
            </div>
            <!-- Timeline Item (Day) -->
            <div class="timeline-item">
                <div class="timeline-item-date">
                    <span class="day">20</span>
                    <small class="month">ИЮЛЯ</small>
                    <div class="total">
                        <span class="badge plus">8</span>
                        <span class="badge bonus">2</span>
                    </div>
                </div>
                <div class="timeline-item-content">


                </div>
            </div>
            <!-- Timeline Item With Card -->
            <div class="timeline-item">
                <div class="timeline-item-date">
                    <span class="day">20</span>
                    <small class="month">ИЮЛЯ</small>
                    <div class="total">
                        <span class="badge plus">5</span>
                        <span class="badge bonus">1</span>
                    </div>
                </div>
                <div class="timeline-item-content">

                </div>
            </div>
            <!-- Timeline Item With List Block -->
            <div class="timeline-item">
                <div class="timeline-item-date">
                    <span class="day">20</span>
                    <small class="month">ИЮЛЯ</small>
                    <div class="total">
                        <span class="badge plus">3</span>
                        <span class="badge bonus">0</span>
                    </div>
                </div>
                <div class="timeline-item-content">

                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item-date">
                    <span class="day">20</span>
                    <small class="month">ИЮЛЯ</small>
                    <div class="total">
                        <span class="badge plus">5</span>
                        <span class="badge bonus">3</span>
                    </div>
                </div>
                <div class="timeline-item-content">


                </div>
            </div>

        </div>

    </div>

    <div class="toolbar tabbar tabbar-labels toolbar-bottom">
        <div class="toolbar-inner">
            <a href="/history/" class="tab-link tab-link-active">
                <i class="material-icons">history</i>
                <span class="tabbar-label">Статистика</span>
            </a>

            <a href="/code_reader/" class="tab-link link-plus"></a>
            <div class="tab-link">
                <div class="fab fab-right-bottom">
                    <a href="#" class=""><i class="material-icons">add</i> <i class="material-icons">clear</i></a>
                    <div class="fab-buttons fab-buttons-top">
                        <a class="fab-label-button" href="/login/?action=logout"><span class="material-icons">exit_to_app</span><span
                                class="fab-label">Выход</span></a>
                        <a class="fab-label-button" href="/profile/"><span class="material-icons">face</span><span
                                class="fab-label">Профиль</span></a>
                        <a class="fab-label-button" href="/support/"><span
                                class="material-icons">ring_volume</span><span class="fab-label">Поддержка</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
