<!-- Initial Page, "data-name" contains page name -->
<div data-name="login" class="page">

    <!-- Top Navbar -->


    <div class="page-content login-screen-content">
        <div class="login-logo"><img src="img/logo.svg"/></div>
        <div class="login-screen-title">приложение для кассиров</div>


        <!-- Login form -->
        <form id="login_form">
            <div class="list no-hairlines-md">
                <ul>
                    <li class="item-content item-input">

                        <div class="item-inner">
                            <div class="item-title item-floating-label">Логин</div>
                            <div class="item-input-wrap">
                                <input type="number" name="username" placeholder="Телефон кассира" class="">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">

                        <div class="item-inner">
                            <div class="item-title item-floating-label">Пароль</div>
                            <div class="item-input-wrap">
                                <input type="password" name="password" placeholder="Пароль">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="list buttons">
                <ul>
                    <li>
                        <input type="button" id="login_btn" class="button button-round button-fill button-inline"
                               value="Войти"/>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
