<div class="page" data-name="offer-accept">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="title">Наши карты</div>
            <div class="right">
            </div>
        </div>
    </div>
    <!-- Demo: -->
    <div class="page-content offer-cards">
        <div class="block-title">
            <small>КАРТЫ ПОЛЬЗОВАТЕЛЯ</small>
            : <strong id="user-name">Имя/ID</strong></div>
        <div id="cards">


        </div>
    </div>
    <div class="toolbar tabbar tabbar-labels toolbar-bottom">
        <div class="toolbar-inner">
            <a class="tab-link back">
                <i class="material-icons">arrow_back</i>
                <span class="tabbar-label">Назад</span>
            </a>
            <a id="select-btn" class="tab-link accept">
                <i class="material-icons">offline_pin</i>
                <span class="tabbar-label">Подтвердить</span>
            </a>
        </div>
    </div>
</div>
