<div class="page" data-name="profile">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <!--<a class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>-->
            </div>
            <div class="title">Профиль</div>
        </div>
    </div>

    <div class="page-content">
        <div class="block inset">
            <div class="block-title block-title-medium">
                ВАШ ID КАССИРА: <span id="your-id" class="color-yellow"></span>
            </div>
        </div>
        <div class="block inset">
            <div class="block-title">УКАЖИТЕ ВАШУ ТОРГОВУЮ ТОЧКУ:</div>
            <div class="list search-tt">
                <ul>
                    <li>
                        <a class="item-link smart-select smart-select-init" id="smartselect" data-open-in="popover">
                            <select id="salepoints">

                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <input id="chose_btn" type="button" value="Приступить к работе"
                   class="button button-large button-raised button-fill"/>

            <!--<div class="list no-hairlines-md">
                <ul>
                    <li>
                        <div class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="Торговая точка" readonly="readonly" id="demo-picker-device" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
    <div class="toolbar tabbar tabbar-labels toolbar-bottom">
        <div class="toolbar-inner">
            <a href="/history/" class="tab-link">
                <i class="material-icons">history</i>
                <span class="tabbar-label">Статистика</span>
            </a>

            <a href="/code_reader/" class="tab-link link-plus"></a>
            <div class="tab-link">
                <div class="fab fab-right-bottom">
                    <a href="#" class=""><i class="material-icons">add</i> <i class="material-icons">clear</i></a>
                    <div class="fab-buttons fab-buttons-top">
                        <a href="/login/?action=logout" class="fab-label-button"><span class="material-icons">exit_to_app</span><span
                                class="fab-label" >Выход</span></a>
                        <!--<a class="fab-label-button" href="/profile/"><span class="material-icons">face</span><span
                                class="fab-label">Профиль</span></a>-->
                        <a class="fab-label-button" href="/support/"><span
                                class="material-icons">ring_volume</span><span class="fab-label">Поддержка</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>