<!-- Initial Page, "data-name" contains page name -->
<div data-name="registration" class="page">

    <!-- Top Navbar -->


    <div class="page-content login-screen-content">
        <div class="login-logo"><img src="img/new-logo.svg"/></div>
        <div class="login-screen-title">Отличный повод вернуться!</div>

        <!-- Registration form -->
        <form>
            <div class="list no-hairlines-md">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-media">
                            <i class="material-icons">stay_current_portrait</i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title item-floating-label">Телефон</div>
                            <div class="item-input-wrap">
                                <input type="text" id="phone" placeholder="Номер телефона" class="">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="list buttons">
                <ul>
                    <li>
                        <a href="#" id="reg_btn" class="button button-round button-fill button-inline">Регистрация</a>
                    </li>
                    <li>
                    </li>
                    <li>
                        Уже есть аккаунт?<br/>
                        <a href="/login/" class="item-link list-button">Войти</a>
                    </li>
                </ul>
            </div>
        </form>

    </div>
</div>