/**
 * Framework7 4.4.0
 * Full featured mobile HTML framework for building iOS & Android apps
 * http://framework7.io/
 *
 * Copyright 2014-2019 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: May 29, 2019
 */

@import (reference) './less/mixins.less';

@includeIosTheme: true;
@includeMdTheme: true;
@includeAuroraTheme: true;

@includeDarkTheme: true;

@themeColor: #071E3C;

@colors: {
  red: #ff3b30;
  green: #4cd964;
  blue: #2196f3;
  pink: #ff2d55;
  yellow: #ffc300;
  orange: #ff9500;
  purple: #9c27b0;
  deeppurple: #673ab7;
  lightblue: #5ac8fa;
  teal: #009688;
  lime: #cddc39;
  deeporange: #ff6b22;
  gray: #8e8e93;
  white: #ffffff;
  black: #000000;
};

@rtl: false;

// Core
@import url('./components/app/app.less');
@import url('./components/statusbar/statusbar.less');
@import url('./components/view/view.less');
@import url('./components/page/page.less');
@import url('./components/link/link.less');
@import url('./components/navbar/navbar.less');
@import url('./components/toolbar/toolbar.less');
@import url('./components/subnavbar/subnavbar.less');
@import url('./components/block/block.less');
@import url('./components/list/list.less');
@import url('./components/badge/badge.less');
@import url('./components/button/button.less');
@import url('./components/touch-ripple/touch-ripple.less');
@import url('./components/icon/icon.less');
@import url('./components/modal/modal.less');

@import url('./components/appbar/appbar.less');
@import url('./components/dialog/dialog.less');
@import url('./components/popup/popup.less');
@import url('./components/login-screen/login-screen.less');
@import url('./components/popover/popover.less');
@import url('./components/actions/actions.less');
@import url('./components/sheet/sheet.less');
@import url('./components/toast/toast.less');
@import url('./components/preloader/preloader.less');
@import url('./components/progressbar/progressbar.less');
@import url('./components/sortable/sortable.less');
@import url('./components/swipeout/swipeout.less');
@import url('./components/accordion/accordion.less');
@import url('./components/contacts-list/contacts-list.less');
@import url('./components/virtual-list/virtual-list.less');
@import url('./components/list-index/list-index.less');
@import url('./components/timeline/timeline.less');
@import url('./components/tabs/tabs.less');
@import url('./components/panel/panel.less');
@import url('./components/card/card.less');
@import url('./components/chip/chip.less');
@import url('./components/form/form.less');
@import url('./components/input/input.less');
@import url('./components/checkbox/checkbox.less');
@import url('./components/radio/radio.less');
@import url('./components/toggle/toggle.less');
@import url('./components/range/range.less');
@import url('./components/stepper/stepper.less');
@import url('./components/smart-select/smart-select.less');
@import url('./components/grid/grid.less');
@import url('./components/calendar/calendar.less');
@import url('./components/picker/picker.less');
@import url('./components/infinite-scroll/infinite-scroll.less');
@import url('./components/pull-to-refresh/pull-to-refresh.less');
@import url('./components/lazy/lazy.less');
@import url('./components/data-table/data-table.less');
@import url('./components/fab/fab.less');
@import url('./components/searchbar/searchbar.less');
@import url('./components/messages/messages.less');
@import url('./components/messagebar/messagebar.less');
@import url('./components/swiper/swiper.less');
@import url('./components/photo-browser/photo-browser.less');
@import url('./components/notification/notification.less');
@import url('./components/autocomplete/autocomplete.less');
@import url('./components/tooltip/tooltip.less');
@import url('./components/gauge/gauge.less');
@import url('./components/skeleton/skeleton.less');
@import url('./components/menu/menu.less');
@import url('./components/color-picker/color-picker.less');
@import url('./components/treeview/treeview.less');
@import url('./components/vi/vi.less');
@import url('./components/elevation/elevation.less');
@import url('./components/typography/typography.less');
