/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

/*Fonts*/

@font-face {
  font-family: 'TTLakesCondensed-DemiBold';
  font-style: normal;
  font-weight: bold;
    src: url('../fonts/3501B7_1B_0.eot');
    src: url('../fonts/3501B7_1B_0.eot?#iefix') format('embedded-opentype'), url('../fonts/3501B7_1B_0.woff2') format('woff2'), url('../fonts/3501B7_1B_0.woff') format('woff'), url('../fonts/3501B7_1B_0.ttf') format('truetype');
}

@font-face {
    font-family: 'TTLakesCondensed-Medium';
  font-style: normal;
  font-weight: normal;
    src: url('../fonts/3501B7_25_0.eot');
    src: url('../fonts/3501B7_25_0.eot?#iefix') format('embedded-opentype'), url('../fonts/3501B7_25_0.woff2') format('woff2'), url('../fonts/3501B7_25_0.woff') format('woff'), url('../fonts/3501B7_25_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../fonts/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('../fonts/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



body {
    font-family: TTLakesCondensed-Medium;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
label {
    font-family: TTLakesCondensed-DemiBold;
}

/*Colors*/

.statusbar-overlay {
    background: #000000;
}



/*Auth*/

.login-screen-content {
    background: #fff;
}

.login-logo {
    text-align: center;
    padding-top: 30px;
}
.login-logo img{
    width: 75%;
    max-width: 200px;
}
.login-screen-title {
    font-size: 15px;
    font-family: TTLakesCondensed-DemiBold;
    text-transform: uppercase;
    color: #071E3C;
}

.login-screen-content .list .item-input-outline .item-floating-label {
    background: transparent;
    width: 100%;
}

.login-screen-content .list .item-input-outline .item-floating-label span {
    background: #ffc300;
    padding: 2px 5px;
}

.login-screen-content input.input-focused:focus {
    outline: none;
}


.buttons{
     text-align:center;
}

.buttons li{
     margin-bottom: 15px;
}
.button.button-inline {
    display: inline-block;
    padding: 0 30px;
}

/*Navbar*/

.navbar {
    background: #fff;
}
.navbar .title{
    text-align: center;
    width: 100%;
}

.navbar-inner {
    text-align: center;
}
.page-with-subnavbar .navbar-inner {
    padding-top: 15px;
}

.navbar .searchbar {
    width: 100%;
    padding: 0 30px;
} 

.navbar .searchbar.searchbar-inline input[type="text"],
.navbar .searchbar.searchbar-inline input[type="search"] {
    background: #eee;
    border-radius: 6px;
    height: 40px;
}

.subnavbar {
    background: #fff;
}

.view-options {
    text-align: center;
    height: 25px !important;
}

.view-options .subnavbar-inner {
    overflow: visible;
}

.view-options .segmented {
    width: auto;
    margin: 0 auto -20px auto;
    z-index: 100;
}

.view-options .segmented .button {
    font-family: TTLakesCondensed-DemiBold;
    background: #fff;
    width: auto;
    padding: 0 20px;
}

.view-options .segmented .button.tab-link-active {
    background: #071E3C;
}

/*Range Search Radius*/

.search-radius {
    padding: 10px 16px 16px;
}

/*Content*/

.page-content {
    background: #F8F8F8;
    padding-top: calc(var(--f7-page-navbar-offset, 0px) + var(--f7-page-toolbar-top-offset, -25px) + var(--f7-page-subnavbar-offset, 0px) + var(--f7-page-searchbar-offset, 0px) + var(--f7-page-content-extra-padding-top, 0px));
}

.block-title {
    font-family: TTLakesCondensed-DemiBold;
    text-transform: uppercase;
}

.companies-list {}

.offers-list .offer-item .item-title {
    font-family: 'TTLakesCondensed-DemiBold';
    overflow: visible;
    white-space: normal;
    font-size: 18px;
    line-height: 18px;
}
.offers-list .offer-item .item-media {
    width: 80px;
    height: 80px;
    margin: 5px auto;
    background: #ddd;
    background-size: cover;
    background-position: center center; 
}

.offers-list .offer-item .item-title .item-subtitle {
    font-family: 'TTLakesCondensed-Medium';
    overflow: visible;
    white-space: normal;
    font-size: 15px;
    line-height: 15px;
    padding-top: 5px;

}

.offers-list .offer-item .item-title-row .item-after.category-icon {
    width: 30px;
    height: 30px;
    
}

.offers-list .offer-item .item-title-row .item-after span {
    font-size: 20px;
}

.company-list  {
    padding: 0 20px;
    background: #f8f8f8;
    overflow: hidden;
    position: relative;
}


.company-list .item-inner{
    padding-right: 0;
}
.company-list .item-inner::after{
    border-bottom: 1px solid #fff;
}

.list .item-after.company-schedule {
    color: #071E3C;
    font-size: 12px;
}
.list .item-after.company-schedule strong{
    display: inline-block;
    padding-right: 5px;
}

.schedule-open {
    color: green;
}
.schedule-closed {
    color: red;
}

/*Offer history*/

.accordion-item .is-open{
    display: none;
}


.accordion-item.accordion-item-opened .is-open{
    display: inline-block;
}
.accordion-item.accordion-item-opened .is-closed{
    display: none;
}
/*Code*/
.toolbar-bottom.toolbar-code {
    height: 100%;
    background: #ffc300;
}

.toolbar-code .code-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
    background: #fff;
    width: 40%;
    height: auto;
    padding: 30px;
    border-radius: 2px;
}

.toolbar-code .code-inner img{
    width: 100%;
    max-width: 100%;
}

.toolbar-code .link.fab-close{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    text-indent: -9999px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff url('../img/close_btn.svg') no-repeat center center;
    background-size: contain;
    border: 2px solid #071E3C;
}

.toolbar-code .text-about {
    font-family: 'TTLakesCondensed-DemiBold';
    line-height: 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    position: absolute;
    bottom: 100px;
    left: 0;
}

.fab-code {
    background: #ffc300 url('../img/btn-qrcode.svg') no-repeat center center;
    background-size: contain;
    margin-bottom: 0 !important;
}



/*Offer Cards*/

.offer-cards {
    padding-top:80px;
}
.offer-cards .card-offer{
    border-radius: 8px;
    overflow: hidden;
}
.offer-cards .card-offer .card-bg{
    border-radius: 8px;
}


.offer-cards .card-header {
    padding: 0;
}
.offer-cards .card-header:after, 
.offer-cards .card-footer:before {
    display: none;
}
.offer-cards .card-header .company-offer{
    font-size: 14px;
    line-height: 16px;
    padding: 5px 10px;
}

.card-offer .company-logo {
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center center;
}

.fishki {
    position: relative;
    padding: 0;
}

.card_promo-fishki {
    counter-reset: myCounter;
    padding: 5px;
    justify-content: center;
    font-family: TTLakesCondensed-DemiBold;
}
.fishki li {
    position: relative;
    list-style: none;
    line-height: 0;
    min-width: 40px;
    max-width: 60px;
    padding: 5px;
}
.fishki li svg {
    width: 100%;
}

.fishki li:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
}

.fishki li.checked:before {
    content:'×';
    font-size: 20px;
}


.offer-counter {
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #f5f5f5;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.card-company-name {
    font-family: TTLakesCondensed-DemiBold;
}

/*History*/

.card-offer .accordion-item-toggle{
    display: block;
    position: absolute;
    text-align: center;
    width: 30px;
    height: 40px;
    border-radius: 15px;
    background: #f8f8f8;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    z-index: 100;
    border: 1px solid #fff;
    box-shadow: 0px -2px 4px rgba(0,0,0,0.1);
}


.timeline-item-divider.fish {}
.timeline-item-divider.plush {
    background: #ffc300;
}
.timeline-item-divider.plush:after, .timeline-item-divider.plush:before {
    background: #bbb;
}



/*Map*/

.map-filter {
    position: fixed;
    left: 0;
    bottom: calc(var(--f7-fab-margin) + var(--f7-safe-area-bottom));
    margin: 0;
    z-index: 1000;
    max-width: 75%;
}

.company-on-map {}
.company-on-map .popover-inner{
    overflow: visible;
}


.block.map-item {
    margin: 0;
    padding: 0;
    position: relative;
}
.block.map-item .link.popover-close{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translatex(-50%);
}
.map-item--logo{
    width: 60px;
    height: 60px;
    float: left;
}
.map-item--info{
    width: calc(100% - 60px);
    height: 50px;
    padding: 5px 0;
    float: left;
    overflow: hidden;
}

.map-item--logo> img{
    max-width: 100%;
}

.map-item--title{
    font-family: 'TTLakesCondensed-DemiBold';
    min-width: 0;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 16px;
    color: #000;
    line-height: 20px;
}
.map-item--adress{
    min-width: 0;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 12px;
    color: #333;
    line-height: 15px;
}
.map-item--description{
    min-width: 0;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 11px;
    color: #555;
    line-height: 15px;
}
