<div class="page  page-with-subnavbar" data-name="all_actions">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="panel-open link">
                    <span><i class="material-icons">menus</i></span>
                </a>
            </div>
            <div class="searchbar searchbar-inline">
                <div class="searchbar-input-wrap">
                    <input type="text" placeholder="Поиск" value="Казань">
                    <i class="searchbar-icon"></i>
                    <div class="input-clear-button"></div>
                </div>
            </div>
            <div class="right">
                <a href="#" class="link">
                    <span><i class="material-icons">notifications</i></span>
                </a>
            </div>
            <div class="subnavbar view-options">
                <div class="subnavbar-inner">
                    <div class="segmented segmented-raised">
                        <a class="button button-small tab-link tab-link-active" href="#actions_on_list">Cписок</a>
                        <a class="button button-small tab-link" href="#actions_on_map">На карте</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Окно с кодом-->
    <div class="toolbar toolbar-bottom toolbar-code fab-morph-target">
        <div class="toolbar-inner">
            <div class="code-inner">
                <img src="img/code.png" />
            </div>

            <span class="text-about">Покажи продавцу,<br /> и получи фишку</span>
            <a class="link fab-close">Закрыть</a>
        </div>
    </div>
    <!-- /Окно с кодом-->

    <div class="fab fab-right-bottom fab-morph fab-code" data-morph-to=".toolbar-code" style=""><a href="#" class=""><i class="icon f7-icons if-not-md">add</i></a></div>


    <div class="page-content" id="all_actions_page">




        <div class="tabs">
            <div class="tab tab-active" id="actions_on_list">
                <div class="list ">
                    <ul>
                        <li>
                            <a class="item-link smart-select smart-select-init" data-open-in="popup" data-searchbar="true" data-searchbar-placeholder="Быстрый поиск">
                                <select name="filter" multiple>
                                  <optgroup label="Еда">
                                    <option value="honda" selected>Суши</option>
                                    <option value="lexus">Пицца</option>
                                    <option value="nissan">Гриль</option>
                                    <option value="toyota">Фастфуд</option>
                                  </optgroup>
                                  <optgroup label="Напитки">
                                    <option value="audi" selected>Кофе</option>
                                    <option value="bmw">Алкоголь</option>
                                    <option value="mercedes">Безалкогольные</option>
                                  </optgroup>
                                  <optgroup label="Услуги">
                                    <option value="cadillac">Дизайн</option>
                                    <option value="chrysler">Доставка</option>
                                    <option value="dodge">Такси</option>
                                    <option value="ford" selected>Упаковка</option>
                                  </optgroup>
                                </select>
                                <div class="item-content ">
                                  <div class="item-inner">
                                    <div class="item-title">Фильтр</div>
                                  </div>
                                </div>
                              </a>
                        </li>

                        <li>
                            <div class="search-radius item-row">
                                <div class="item-cell width-auto flex-shrink-0">
                                    В радиусе
                                </div>
                                <div class="item-cell flex-shrink-3">
                                    <!-- range slider -->
                                    <div class="range-slider range-slider-init" data-min="0" data-max="100" data-label="true" data-step="5" data-value="0" data-scale="true" data-scale-steps="5" data-scale-sub-steps="4"></div>
                                </div>
                                <div class="item-cell width-auto flex-shrink-0">
                                    км
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="block-title">Доступные акции</div>

                <div class="list media-list accordion-list offers-list">
                    
                    <ul>
                        <li class="accordion-item offer-item">
                            <a href="#" class="item-link item-content">
                                <div class="item-media" style="background-image: url('https://semart.ru/demo/fp/like.jpg')"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Названиие компаниии
                                            <div class="item-subtitle">Текст акционного предложениия</div>
                                        </div>
                                        <div class="item-after category-icon">иконка категориии</div>
                                    </div>
                                </div>
                            </a>
                            <div class="accordion-item-content company-list">
                               
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">Название места ТТ</div>
                                        <div class="item-after company-schedule">
                                        <!--Если открыто: -->
                                        <strong class="schedule-open">ОТКРЫТО</strong> до 20:00
                                        <!--Если закрыто: -->
                                        <strong class="schedule-closed">ЗАКРЫТО</strong> до 9:00
                                        </div>
                                    </div>
                                    <div class="item-subtitle">Точный адрес</div>
                                    <div class="item-text">Примечание</div>
                                </div>
                                

                            </div>
                        </li>

                    </ul>

                    <!-- Demo:
                        <ul>
                        <li class="accordion-item offer-item">
                            <a href="#" class="item-link item-content">
                                <div class="item-media" style="background-image: url('https://semart.ru/demo/fp/like.jpg')"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Coffee Like
                                            <div class="item-subtitle">Купи любые пять кофе и получи шестой кофе на выбор бесплатно!</div>
                                        </div>
                                        <div class="item-after category-icon">icon</div>
                                    </div>
                                </div>
                            </a>
                            <div class="accordion-item-content company-list">
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">ТЦ "Кольцо"</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 20:00</div>
                                    </div>
                                    <div class="item-subtitle">Казань, ул. Петербургская, 1</div>
                                    <div class="item-text">"Островок", вход со стороны ул. Баумана.</div>
                                </div>
                                
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">ТЦ "Мега"</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> 24/7</div>
                                    </div>
                                    <div class="item-subtitle">Казань, просп. Победы, 141</div>
                                    <div class="item-text">Рядом с центральным входом.</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">ТЦ "Сити-центр"</div>
                                        <div class="item-after company-schedule"><strong class="schedule-closed">ЗАКРЫТО</strong> до 9:00</div>
                                    </div>
                                    <div class="item-subtitle">Казань, ул. Академика Парина, 3</div>
                                    <div class="item-text">2 этаж, рядом с магазином "Спортмастер".</div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item offer-item">
                            <a href="#" class="item-link item-content">
                                <div class="item-media" style="background-image: url('https://semart.ru/demo/fp/burger.png')"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Burger King
                                            <div class="item-subtitle">Купи любые шесть бургеров и получи любой седьмой в подарок!</div>
                                        </div>
                                        <div class="item-after category-icon">icon</div>
                                    </div>
                                </div>
                            </a>
                            <div class="accordion-item-content company-list">
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">ТЦ Тюбетейка</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 00:00</div>
                                    </div>
                                    <div class="item-subtitle">Казань, ул Декабристов, 133</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (495) 544-50-00 доб. 4551</div>
                                </div>
                                
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">ТРЦ «Тандем»</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 22:00</div>
                                    </div>
                                    <div class="item-subtitle">Казань, пр-т Ибрагимова, д.56</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (800) 550-45-45 доб. 4352</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">ТЦ "Сити-центр"</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 23:00</div>
                                    </div>
                                    <div class="item-subtitle">Казань, просп Хусаина Ямашева, 46</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (495) 544-50-00 доб. 4406</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">Чистопольская 33В</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 3:00</div>
                                    </div>
                                    <div class="item-subtitle">Казань, ул Чистопольская 33В</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (495) 544-50-00 доб. 4485</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">ТЦ XL, 4 этаж</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 22:00</div>
                                    </div>
                                    <div class="item-subtitle">Казань, просп Ямашева, 97</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (495) 544-50-00 доб. 4474</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">Московская, 48</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 23:00</div>
                                    </div>
                                    <div class="item-subtitle">г. Казань, ул. Московская, 48</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (800) 550-45-45 доб. 4146</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">гостиница «Татарстан»</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 2:00</div>
                                    </div>
                                    <div class="item-subtitle">г. Казань, ул. Пушкина, д.4</div>
                                    <div class="item-text">С 7:00 до 11:00 действует программа «Завтраки». Уточняйте время работы по тел:  +7 (800) 550-45-45 доб. 4290</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">ТЦ Горки Парк 2 этаж</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 22:00</div>
                                    </div>
                                    <div class="item-subtitle">г. Казань, ул Зорге 11Б</div>
                                    <div class="item-text">Уточняйте время работы по тел:  +7 (495) 544-50-00 доб. 4603</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">СТЦ «МЕГА»</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 22:00</div>
                                    </div>
                                    <div class="item-subtitle">г. Казань, Проспект Победы д. 141</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (800) 550-45-45 доб. 4260</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">Закиева, 1</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 2:00</div>
                                    </div>
                                    <div class="item-subtitle">г. Казань, ул Закиева, 1</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (495) 544-50-00 доб. 4700</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">Завойского, 1А</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 2:00</div>
                                    </div>
                                    <div class="item-subtitle">г. Казань, ул Академика Завойского, 1А</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (495) 544-50-00 доб. 4674</div>
                                </div>
                                <div class="item-inner ">
                                    <div class="item-title-row">
                                        <div class="item-title">Оренбургский тракт</div>
                                        <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> до 4:00</div>
                                    </div>
                                    <div class="item-subtitle">г. Казань, ул Оренбургский тракт, 209</div>
                                    <div class="item-text">Уточняйте время работы по тел: +7 (495) 544-50-00 доб. 4623</div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item offer-item">
                                <a href="#" class="item-link item-content">
                                    <div class="item-media" style="background-image: url('https://semart.ru/demo/fp/barber.jpg')"></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">TOPGUN Barbershop
                                                <div class="item-subtitle">Всего три бритья и ты станешь обладателем крутого набора бородача!</div>
                                            </div>
                                            <div class="item-after category-icon">icon</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="accordion-item-content company-list">
                                    <div class="item-inner ">
                                        <div class="item-title-row">
                                            <div class="item-title">ТЦ "Магнит"</div>
                                            <div class="item-after company-schedule"><strong class="schedule-closed">Закрыто</strong> до 10:00</div>
                                        </div>
                                        <div class="item-subtitle">Казань, ул. Чистопольская, 74</div>
                                        <div class="item-text">В столице солнечного Татарстана барбершоп TOPGUN открылся в апреле 2017 года.</div>
                                    </div>

                                    <div class="item-inner ">
                                        <div class="item-title-row">
                                            <div class="item-title">Barbershop</div>
                                            <div class="item-after company-schedule"><strong class="schedule-open">ОТКРЫТО</strong> 24/7</div>
                                        </div>
                                        <div class="item-subtitle">Казань, ул.Чернышевского, 17/38</div>
                                        <div class="item-text">+7(905) 37-47-444.</div>
                                    </div>
                                </div>
                            </li>

                    </ul> -->
                </div>
                <div class="block-title">На этом всё... Завтра будет больше!</div>

                <!--<div id="all_actions_container">
                </div>-->
            </div>

            <div class="tab" id="actions_on_map">
                <div id="map" style="with:100%;height:400px;">
                    <div class="list map-filter">
                        <ul>
                            <li>
                                <a class="item-link smart-select smart-select-init" data-open-in="popup" data-searchbar="true" data-searchbar-placeholder="Быстрый поиск">
                                <select name="filter" multiple>
                                  <optgroup label="Еда">
                                    <option value="honda" selected>Суши</option>
                                    <option value="lexus">Пицца</option>
                                    <option value="nissan">Гриль</option>
                                    <option value="toyota">Фастфуд</option>
                                  </optgroup>
                                  <optgroup label="Напитки">
                                    <option value="audi" selected>Кофе</option>
                                    <option value="bmw">Алкоголь</option>
                                    <option value="mercedes">Безалкогольные</option>
                                  </optgroup>
                                  <optgroup label="Услуги">
                                    <option value="cadillac">Дизайн</option>
                                    <option value="chrysler">Доставка</option>
                                    <option value="dodge">Такси</option>
                                    <option value="ford" selected>Упаковка</option>
                                  </optgroup>
                                </select>
                                <div class="item-content ">
                                  <div class="item-inner">
                                    <div class="item-title">Фильтр</div>
                                  </div>
                                </div>
                              </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>