<div class="page" data-name="my_actions">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="panel-open link">
                    <span><i class="material-icons">menus</i></span>
                </a>
            </div>
            <div class="title">Мои акции</div>
            <div class="right">
                <a href="#" class="link">
                    <span><i class="material-icons">notifications</i></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Окно с кодом-->
    <div class="toolbar toolbar-bottom toolbar-code fab-morph-target">
        <div class="toolbar-inner">
            <div class="code-inner">
                <img src="img/code.png" />
            </div>

            <span class="text-about">Покажи продавцу,<br /> и получи фишку</span>
            <a class="link fab-close">Закрыть</a>
        </div>
    </div>
    <!-- /Окно с кодом-->

    <div class="fab fab-right-bottom fab-morph fab-code" data-morph-to=".toolbar-code" style=""><a href="#" class=""><i class="icon f7-icons if-not-md">add</i></a></div>

    <div class="page-content offer-cards">
       
        <!-- Карточка акции-->
        <div class="card card-offer">
           
            <!--Здесь фон карты -->
            <div class="card-bg" style="background-color: #000; color: #fff">
                <div class="card-header">
                   
                    <!--Здесь логотип -->
                    <div class="company-logo" style="background-image: url('https://semart.ru/demo/fp/barber.jpg')"></div>
                    
                    <!--Здесь описание акции -->
                    <div class="company-offer">Всего три бритья в нашей сети и ты станешь обладателем крутого набора бородача!</div>
                </div>
                <div class="card-content card-content-padding fishki">

                    <!--Список с фишками -->
                    <ol class="row no-gap card_promo-fishki">



                        <!--Отмеченная фишка (добаляем класс "checked") -->
                        <li class="col checked" style="/*цвет текста:*/ color:#fff; /*цвет фона*/ fill: #000; /*цвет обводки*/ stroke: #000;">

                            <!--Сам кружок, ничего не меняется, ставим, как есть везде -->
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                                <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                            </svg>
                        </li>

                        <!-- Неактивная фишка (добаляем класс "checked") -->
                        <li class="col" style="/*цвет текста:*/ color:#fff; /*цвет фона:*/  fill: #000; /*цвет обводки:*/ stroke: #fff;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                                <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                            </svg>
                        
                        </li>
                        <!-- Плюшка. Меняются только стили -->
                        <li class="col" style="/*цвет текста:*/ color:#000; /*цвет фона:*/ fill: #fff; /*цвет обводки:*/stroke: #fff;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                                <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                            </svg>
                        </li>
                    </ol>
                    <!-- /Конец списка с фишками-->
                </div>
                <div class="card-footer" style="background-color: #fff; color: #000;">
                    <!-- Здесь названиие компании-->
                    <span class="card-company-name">TOPGUN barbershop</span>
                    
                    <!-- Здесь срок действия акции в днях. Если акция бессрочная, заменяем текст на "бессрочно"-->
                    <span class="card-expires">истекает через: 12 дн</span>
                    
                </div>
            </div>

            <div class="offer-history custom-accordion">
                <div class="accordion-item">
                    <div class="accordion-item-toggle">
                        <i class="material-icons is-closed">expand_more</i> 
                        <i class="material-icons is-open">expand_less</i>
                    </div>
                    <div class="accordion-item-content">
                    <!--Таймлайн истории покупок-->
                        <div class="timeline">
                            <!--Элемент истории.-->
                            <div class="timeline-item">
                                <!--Дата и вермя покупки-->
                                <div class="timeline-item-date">23.06 <small>16:00</small></div>
                            <!-- Если получена фишка, ставим класс .fish, Если получена плюшка, ставим класс .plush-->
                                <div class="timeline-item-divider  fish"></div>
                                <div class="timeline-item-content">
                                    <!--Название места ТТ-->
                                    <div class="timeline-item-title">ТРЦ «Тандем»</div>
                                    <!--Адрес ТТ-->
                                    <div class="timeline-item-subtitle">Казань, пр-т Ибрагимова, д.56</div>
                                </div>
                            </div>
                            <!--/ Конец элемента истории-->
                        </div>
                        <!--Конец таймлайна истории покупок-->
                    </div>
                </div>


            </div>
        </div>


        <div id="actions_container">
        </div>
    </div>
    <!-- Demo: <div class="page-content offer-cards">
        <div class="card card-offer">
            <div class="card-bg" style="background-color: #000; color: #fff">
            <div class="card-header">
                <div class="company-logo" style="background-image: url('https://semart.ru/demo/fp/barber.jpg')"></div>
                <div class="company-offer">Всего три бритья в нашей сети и ты станешь обладателем крутого набора бородача!</div>
            </div>
            <div class="card-content card-content-padding fishki">
                <ol class="row no-gap card_promo-fishki fishek-0">
                    <li class="col checked" style="color:#fff; fill: #000; stroke: #000;">
                        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                    </li>
                    <li class="col" style="color:#fff; fill: #000; stroke: #fff;">
                        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                        <li class="col" style="color:#fff; fill: #000; stroke: #fff;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                            <li class="col" style="color:#000; fill: #fff; stroke: #fff;">
                                <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                            </li>
                </ol>
            </div>
            <div class="card-footer" style="background-color: #fff; color: #000;">
                <span class="card-company-name">TOPGUN barbershop</span>
                <span class="card-expires">истекает через: 12 дн</span>
            </div>
            </div>
            
            <div class="offer-history custom-accordion">
                <div class="accordion-item">
                    <div class="accordion-item-toggle"><i class="material-icons is-closed">expand_more</i> <i class="material-icons is-open">expand_less</i>  </div>
                    <div class="accordion-item-content">
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="timeline-item-date">23.06 <small>16:00</small></div>
                                <div class="timeline-item-divider  fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТРЦ «Тандем»</div>
                                    <div class="timeline-item-subtitle">Казань, пр-т Ибрагимова, д.56</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="card card-offer">
            <div class="card-bg" style="background-color: #f1f1f1; color: #22aa68">
            <div class="card-header">
                <div class="company-logo" style="background-image: url('https://semart.ru/demo/fp/like.png')"></div>
                <div class="company-offer">Каждый шестой стакан кофе в подарок!</div>
            </div>
            <div class="card-content card-content-padding fishki">
                <ol class="row no-gap card_promo-fishki">
                    <li class="col checked" style="color:#fff; fill: #222; stroke: #22aa68;">
                        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                    </li>
                    <li class="col checked" style="color:#fff; fill: #222; stroke: #22aa68;">
                        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                    </li>
                    <li class="col" style="color:#22aa68; fill: #f1f1f1; stroke: #22aa68;">
                        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                    </li>
                    <li class="col" style="color:#22aa68; fill: #f1f1f1; stroke: #22aa68;">
                        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                    </li>
                    <li class="col" style="color:#22aa68; fill: #f1f1f1; stroke: #22aa68;">
                        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                    </li>
                    <li class="col" style="color:#fff; fill: #22aa68; stroke: #22aa68;">
                        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                    </li>
                </ol>
            </div>
            <div class="card-footer" style="background-color: #22aa68; color: #f1f1f1;">
                <span class="card-company-name">COFFEE LIKE</span>
                <span class="card-expires">бессрочно</span>
            </div>
            </div>
            <div class="offer-history custom-accordion">
                <div class="accordion-item">
                    <div class="accordion-item-toggle"><i class="material-icons is-closed">expand_more</i> <i class="material-icons is-open">expand_less</i></div>
                    <div class="accordion-item-content">
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="timeline-item-date">23.06 <small>12:33</small></div>
                                <div class="timeline-item-divider fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТЦ "Тюбетейка"</div>
                                    <div class="timeline-item-subtitle">Казань, ул Декабристов, 133</div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-date">22.06 <small>12:33</small></div>
                                <div class="timeline-item-divider  fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТРЦ «Тандем»</div>
                                    <div class="timeline-item-subtitle">Казань, пр-т Ибрагимова, д.56</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="card card-offer">
            <div class="card-bg" style="background-color: #39469e; color: #fff">
                <div class="card-header">
                    <div class="company-logo" style="background-image: url('https://semart.ru/demo/fp/burger.gif')"></div>
                    <div class="company-offer">Купи любые шесть бургеров и получи любой седьмой в подарок!</div>
                </div>
                <div class="card-content card-content-padding fishki">
                    <ol class="row no-gap card_promo-fishki">
                        <li class="col checked" style="color: #ec1e23; fill: #fcaf15; stroke: #ec1e23;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                        </li>
                        <li class="col checked" style="color: #ec1e23; fill: #fcaf15; stroke: #ec1e23;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                        </li>
                        <li class="col" style="color: #fcaf15; fill: #fff; stroke:  #fcaf15;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                        </li>
                        <li class="col" style="color: #fcaf15; fill: #fff; stroke:  #fcaf15;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                        </li>
                        <li class="col" style="color: #fcaf15; fill: #fff; stroke:  #fcaf15;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                        </li>
                        <li class="col" style="color: #fcaf15; fill: #fff; stroke:  #fcaf15;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                        </li>
                        <li class="col" style="color: #fcaf15; fill: #ec1e23; stroke: #fcaf15;">
                            <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
                            <circle stroke-width="20"   stroke-miterlimit="20" cx="250" cy="250" r="240"/>
                        </svg>
                        </li>
                    </ol>
                </div>
                <div class="card-footer" style="background-color: #fcaf15; color: #39469e;">
                    <span class="card-company-name">BURGER KING</span>
                    <span class="card-expires">бессрочно</span>
                </div>
            </div>
            <div class="offer-history custom-accordion">
                <div class="accordion-item">
                    <div class="accordion-item-toggle"><i class="material-icons is-closed">expand_more</i> <i class="material-icons is-open">expand_less</i>  </div>
                    <div class="accordion-item-content">
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="timeline-item-date">23.06 <small>12:33</small></div>
                                <div class="timeline-item-divider fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТЦ "Тюбетейка"</div>
                                    <div class="timeline-item-subtitle">Казань, ул Декабристов, 133</div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-date">22.06 <small>12:33</small></div>
                                <div class="timeline-item-divider  fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТРЦ «Тандем»</div>
                                    <div class="timeline-item-subtitle">Казань, пр-т Ибрагимова, д.56</div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-date">20.06 <small>12:35</small></div>
                                <div class="timeline-item-divider plush"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТРЦ «Тандем»</div>
                                    <div class="timeline-item-subtitle">Казань, пр-т Ибрагимова, д.56</div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-date">20.06 <small>12:33</small></div>
                                <div class="timeline-item-divider fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТЦ "Тюбетейка"</div>
                                    <div class="timeline-item-subtitle">Казань, ул Декабристов, 133</div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-date">17.06 <small>10:23</small></div>
                                <div class="timeline-item-divider  fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТРЦ «Тандем»</div>
                                    <div class="timeline-item-subtitle">Казань, пр-т Ибрагимова, д.56</div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-date">15.06 <small>16:50</small></div>
                                <div class="timeline-item-divider fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТЦ "Тюбетейка"</div>
                                    <div class="timeline-item-subtitle">Казань, ул Декабристов, 133</div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-date">10.06 <small>10:20</small></div>
                                <div class="timeline-item-divider  fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТРЦ «Тандем»</div>
                                    <div class="timeline-item-subtitle">Казань, пр-т Ибрагимова, д.56</div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-date">08.06 <small>11:15</small></div>
                                <div class="timeline-item-divider fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТЦ "Тюбетейка"</div>
                                    <div class="timeline-item-subtitle">Казань, ул Декабристов, 133</div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-date">01.06 <small>12:45</small></div>
                                <div class="timeline-item-divider  fish"></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-item-title">ТРЦ «Тандем»</div>
                                    <div class="timeline-item-subtitle">Казань, пр-т Ибрагимова, д.56</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>








        <div id="actions_container">
        </div>
    </div>-->
</div>