<div class="page" data-name="profile">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="panel-open link">
                    <span><i class="material-icons">menus</i></span>
                </a>
            </div>
            <div class="title">Настройки</div>
            <div class="right">
                <a href="#" class="link">
                    <span><i class="material-icons">notifications</i></span>
                </a>
            </div>
        </div>
    </div>


    <div class="fab fab-right-bottom fab-morph fab-code" data-morph-to=".toolbar-code" style=""><a href="#" class=""><i
            class="icon f7-icons if-not-md">add</i></a></div>

    <div class="page-content">
        <form class="list" id="my-form">
            <ul>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Имя</div>
                            <div class="item-input-wrap"><input type="text" name="name" placeholder="Ваше имя"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">E-mail</div>
                            <div class="item-input-wrap"><input type="email" name="email" placeholder="E-mail"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input item-input-with-value">
                        <div class="item-inner">
                            <div class="item-title item-label">Пол</div>
                            <div class="item-input-wrap"><select name="gender" class="input-with-value">
                                <option value="male" selected="">Мужской</option>
                                <option value="female">Женский</option>
                            </select></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Уведомления</div>
                            <div class="item-after"><label class="toggle toggle-init"><input type="checkbox"
                                                                                             name="toggle"
                                                                                             value="yes"><i
                                    class="toggle-icon"></i></label></div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="block block-strong row">
            <div class="col"><a class="button button-fill fill-form-from-data" href="#">Сохранить</a></div>
        </div>
    </div>
</div>