/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

/*Fonts*/

@font-face {
    font-family: 'TTLakesCondensed-DemiBold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/3501B7_1B_0.eot');
    src: url('../fonts/3501B7_1B_0.eot?#iefix') format('embedded-opentype'), url('../fonts/3501B7_1B_0.woff2') format('woff2'), url('../fonts/3501B7_1B_0.woff') format('woff'), url('../fonts/3501B7_1B_0.ttf') format('truetype');
}

@font-face {
    font-family: 'TTLakesCondensed-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/3501B7_25_0.eot');
    src: url('../fonts/3501B7_25_0.eot?#iefix') format('embedded-opentype'), url('../fonts/3501B7_25_0.woff2') format('woff2'), url('../fonts/3501B7_25_0.woff') format('woff'), url('../fonts/3501B7_25_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../fonts/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('../fonts/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    font-family: TTLakesCondensed-Medium;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
label {
    font-family: TTLakesCondensed-DemiBold;
}

.text-center {
    text-align: center;
}

.page-content {
    background: -webkit-linear-gradient(left, #522da8 0%, #4527a0 100%);
    background: -o-linear-gradient(left, #522da8 0%, #4527a0 100%);
    background: linear-gradient(to right, #522da8 0%, #4527a0 100%);
}
.page-content .block-title {
    color: #b388ff;
}
.page-content .timeline-item-content>.block-title {
    text-align: center;
}

.page-content .block-title strong{
    color: rgba(255,255,255,0.8);
}


/* NAVIGATION */

.tab-link-highlight {
    display: none;
}

.tabbar a, .tabbar-labels a {
    color: #673ab7;
    overflow: visible;
}
.tabbar,
.tabbar .toolbar-inner,
.md .tabbar a.tab-link, .md .tabbar-labels a.tab-link{
    overflow: visible;
}
.tabbar .toolbar-inner .tab-link:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: #f7f7f8;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    z-index: -1;
    box-shadow: 0 -10px 4px rgba(73, 20, 139, 0.15);
}
.tabbar a .tabbar-label {
    font-family: TTLakesCondensed-DemiBold;
    text-transform: uppercase;
    font-size: 12px;
}

.tabbar .tab-link-active, 
.tabbar-labels .tab-link-active {
    color: #e91e63;
}

.link-plus:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('../img/stamp.svg') no-repeat center center;
    background-size: 60%;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    z-index: -1;
}

/*Colors*/
.color-theme-comeback {
  --f7-theme-color: #e91e63;
  --f7-theme-color-rgb: 233, 30, 99;
  --f7-theme-color-shade: #e91e63;
  --f7-theme-color-tint: #e91e63;
}

.navbar {
    background: #4a148c;
    color: #b388ff;
}

.color-yellow {
    color: #ffc107;
}

/*.navbar .title {
    font-family: TTLakesCondensed-DemiBold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}*/
.navbar .title {
    width: 100%;
    text-align: center;
    color: transparent;
    background: url('../img/logo_title.svg') no-repeat center center;
    background-size: contain;
}


.tabbar .tab-link .fab.fab-right-bottom{
    position: static;
    margin-top: -9px;
}
.tabbar .tab-link .fab.fab-right-bottom> a{
    background: transparent;
    box-shadow: none;
}
.tabbar .tab-link .fab-opened .fab-buttons a {
    background: #fff;
}

.tabbar .tab-link .fab-opened .fab-buttons a .fab-label {
    font-family: 'TTLakesCondensed-DemiBold';
    background: #4a148c;
    color: #f7f7f8;
}
.tabbar .tab-link .fab-opened .fab-buttons a .fab-label:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: inherit;
    position: absolute;
    z-index: -1;
    top: 50%;
    right: -3px;
    border-radius: 2px;
    transform: translate(0, -50%) rotate(45deg);
}

.tabbar .tab-link{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabbar-labels .tab-link{
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.tabbar-scrollable .tab-link {
  width: auto;
  flex-shrink: 0;
}

/*Auth*/

.page-content.login-screen-content {
    background: #540D6E;
    color: #FFD23F;
}

.page-content.login-screen-content .item-input-wrap:after {
    display: none !important;
}
.page-content.login-screen-content .input-clear-button{
    color: #540D6E !important;
    right: 6px;
    top: 50%;
    margin-top: -9px;
}
.page-content.login-screen-content input {
    border-radius: 4px;
    font-family: TTLakesCondensed-DemiBold;
    font-size: 20px;
    height: 50px;
    background: rgba(0,0,0,0.1);
}
.page-content.login-screen-content input:focus,
.page-content.login-screen-content input:not(:placeholder-shown){
    background: #FFD23F;
    color: #540D6E;
    padding: 0 30px 0 15px;
}

.page-content.login-screen-content .list .item-floating-label{
    font-family: TTLakesCondensed-DemiBold;
    color: #FFD23F;
    left: 8px;
    text-transform: uppercase;
}

.page-content.login-screen-content .md .item-input .item-media {
    align-self: center;
}

.page-content.login-screen-content .button-inline{
    font-family: TTLakesCondensed-DemiBold;
    padding: 0 50px;
    line-height: 50px;
    height: 50px;
}

.page-content.login-screen-content .button.button-fill{
    background: #EE4266;
    color: #540D6E;
    max-width: 50%;
    margin: 0 auto;
}
.page-content.login-screen-content .button.button-outline{
    color: #EE4266;
    border-color: #EE4266;
    background: #540D6E;
}

.login-logo {
    text-align: center;
    padding-top: 30px;
}
.login-logo img{
    width: 75%;
    max-width: 200px;
}
.login-screen-title {
    font-size: 14px;
    font-family: TTLakesCondensed-DemiBold;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
    margin-top: 0 !important;
}

.login-screen-content .list .item-input-outline .item-floating-label {
    background: transparent;
    width: 100%;
}

.login-screen-content .list .item-input-outline .item-floating-label span {
    background: #ff5533;
    padding: 2px 5px;
}

.login-screen-content input.input-focused:focus {
    outline: none;
}

.login-screen-content .item-input-wrap.row {
    justify-content: stretch;
    flex-wrap: nowrap;
}
.login-screen-content .input-dropdown-wrap.col {
    width: auto;
    min-width: 50px;
}
.login-screen-content .item-input-wrap.col {
    width: 100%;
}
.login-screen-content .input-dropdown-wrap select{
    height:50px;
    color: #FFD23F;
    font-size: 20px;
}

.login-screen-content .input-dropdown-wrap:before, 
.login-screen-content .input-dropdown:before {
    border-top: 5px solid rgba(255,255,255,0.3);
}



/* CODE */

.user-code {
    background: -webkit-linear-gradient(left, #522da8 0%, #4527a0 100%);
    background: -o-linear-gradient(left, #522da8 0%, #4527a0 100%);
    background: linear-gradient(to right, #522da8 0%, #4527a0 100%);
}

.item-input .button {
    background: #651fff;
}
.user-code .list .item-label, 
.user-code .list .item-floating-label {
    text-align: center;
    text-transform: uppercase;
    width: auto;
    margin: -10px auto 20px auto;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 0 4px 4px;
    background: -webkit-linear-gradient(top, #522da8 0%, #4527a0 100%);
    background: -o-linear-gradient(top, #522da8 0%, #4527a0 100%);
    background: linear-gradient(to bottom, #522da8 0%, #4527a0 100%);
}

.user-code .list input {
    font-family: 'TTLakesCondensed-DemiBold';
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: #6200ea;
}
.block-strong.scaner-btn {
    background: -webkit-linear-gradient(left, #4527a0 0%, #311b92 100%);
    background: -o-linear-gradient(left, #4527a0 0%, #311b92 100%);
    background: linear-gradient(to right, #4527a0 0%, #311b92 100%);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.block-strong.scaner-btn .block-title{
    font-family: 'TTLakesCondensed-DemiBold';
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    padding-top: 20px;
}

.block-strong.scaner-btn .button{
    background: #e91e63;
}

/* TIMELINE */

.timeline-horizontal .timeline-item-date:before {
    z-index: 100;
}

.cashier-timeline {

}
.cashier-timeline .timeline-item-date{
    color: rgba(255,255,255, 0.75);
    padding-right: 50px;
    text-transform: uppercase;
    font-family: 'TTLakesCondensed-DemiBold';
    background: -webkit-linear-gradient(left, #522da8 0%, #4527a0 100%);
    background: -o-linear-gradient(left, #522da8 0%, #4527a0 100%);
    background: linear-gradient(to right, #522da8 0%, #4527a0 100%);
}
.cashier-timeline .timeline-item-date .total{
    position: absolute;
    width: 80px;
    top: 0;
    right: 5px;
    text-align: right;
}

.cashier-timeline .timeline-item-date .total .badge.plus{
    background: #7e57c2;
    color: rgba(255, 255, 255, 0.75);
}
.cashier-timeline .timeline-item-date .total .badge.bonus{
    background: #ffca28;
    color: rgba(73, 20, 139, 0.75);
}

.cashier-timeline .timeline-item:first-child .timeline-item-date{
    background: #4a148c;
}
.cashier-timeline .timeline-item:first-child{
    background: #4a148c;
}
.cashier-timeline .timeline-item{
    background: -webkit-linear-gradient(top left, #522da8 0%, #4527a0 100%);
    background: -o-linear-gradient(top left, #522da8 0%, #4527a0 100%);
    background: linear-gradient(to bottom right, #522da8 0%, #4527a0 100%);
}

.cashier-timeline .timeline-item-inner{
    padding-left: 30px;
    position: relative;
    overflow: hidden;
}

.cashier-timeline .timeline-item-inner .timeline-item-time{
    font-family: TTLakesCondensed-DemiBold;
    position: absolute;
    width: 45px;
    font-size: 15px;
    text-align: right;
    bottom: 0;
    right: 5px;
}

.cashier-timeline .timeline-item-inner::before{
    content: '';
    display: block;
    width: 20px;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    border-right: 1px solid rgba(255,255,255,0.125);
    position: absolute;
    box-shadow: inset -1px 0 3px rgba(0,0,0,0.1);
    top: 0;
    left: 0;
}

.cashier-timeline .timeline-item-inner:last-child{
    margin-bottom: 80px;
}




/*Give PLUS */
.cashier-timeline .timeline-item-inner.give-plus{
    color: #fff;
    background: -webkit-linear-gradient(top left, #673ab7 0%, #5e35b1 100%);
    background: -o-linear-gradient(top left, #673ab7 0%, #5e35b1 100%);
    background: linear-gradient(to bottom right, #673ab7 0%, #5e35b1 100%);
    border: 1px solid rgba(255,255,255,0.1);
}

.cashier-timeline .timeline-item-inner.give-plus::before{
    background-color: #5e35b1;
    background-image: url('../img/PLUS.svg');
}

.cashier-timeline .timeline-item-inner.give-plus .timeline-item-time{
    color: #ffa000;
}


.timeline-item-inner.give-plus .timeline-item-title{
    color: rgba(255,255,255, 0.75);
}
.timeline-item-inner.give-plus .timeline-item-subtitle {
    padding-right: 40px;
    color: rgba(255,255,255, 0.5);
}
.timeline-item-inner.give-plus .timeline-item-subtitle strong{
    color: rgba(255,255,255, 0.9);
}

/*Give BONUS */
.cashier-timeline .timeline-item-inner.give-bonus{
    color: #000;
    background: -webkit-linear-gradient(left, #ffca28 0%, #ffc107 100%);
    background: -o-linear-gradient(left, #ffca28 0%, #ffc107 100%);
    background: linear-gradient(to right, #ffca28 0%, #ffc107 100%);
}

.cashier-timeline .timeline-item-inner.give-bonus::before{
    background-color: #ffb300;
    background-image: url('../img/BONUS.svg');
}
.cashier-timeline .timeline-item-inner.give-bonus .timeline-item-time{
    color: #6a1b9a;
}

.timeline-item-inner.give-bonus .timeline-item-title{
    color: rgba(73, 20, 139, 0.75);
}
.timeline-item-inner.give-bonus .timeline-item-subtitle {
    padding-right: 40px;
    color: rgba(73, 20, 139, 0.5);
}
.timeline-item-inner.give-bonus .timeline-item-subtitle strong{
    color: rgba(73, 20, 139, 1);
}


/*Offer Cards*/

.tabbar .toolbar-inner a.tab-link.cancel {
    background-color: #49148b !important;
    color: #b388ff;
}
.tabbar .toolbar-inner a.tab-link.cancel:before {
    content: '';
    background: #49148b;
    box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.15);

}

.tabbar .toolbar-inner a.tab-link.accept {
    background: #e91e63 !important;
    color: #fce4ec;
}
.tabbar .toolbar-inner a.tab-link.accept:before {
    content: '';
    background: #e91e63;
    box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.15);

}

.offer-cards {
    /*padding-top:80px;*/
}
.offer-cards .card-offer{
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
}
.offer-cards .card-offer:last-child{
    margin-bottom: 80px;
}
.offer-cards .card-offer .card-bg{
    border-radius: 8px;
}


.offer-cards .card-header {
    padding: 0;
}
.offer-cards .card-header:after, 
.offer-cards .card-footer:before {
    display: none;
}
.offer-cards .card-header .company-offer{
    font-size: 14px;
    line-height: 16px;
    padding: 5px 10px;
}

.card-offer .company-logo {
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center center;
}

.fishki {
    position: relative;
    padding: 0;
}

.card_promo-fishki {
    counter-reset: myCounter;
    padding: 5px;
    justify-content: center;
    font-family: TTLakesCondensed-DemiBold;
}
.fishki li {
    position: relative;
    list-style: none;
    line-height: 0;
    min-width: 40px;
    max-width: 60px;
    padding: 5px;
}
.fishki li.active:before {
    content: '';
    width: 100%;
    height: 100%;
    background: url('../img/stamp.svg') no-repeat center center;
    background-size: 50%;
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
   background-size: 50%;
  }
  50% {
      background-size: 40%;
  }
  100% {
      background-size: 60%;
  }
}

.fishki li svg {
    width: 100%;
}

.fishki li:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 20px;
    line-height: 20px;
    margin-top: 2%;
}

.fishki li.checked:before {
    /*font-family: 'Material Icons';
    content:'add';*/
    content: '+';
    font-size: 35px;
    line-height: 35px;
    margin-top: 2%;
}


.offer-counter {
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #f5f5f5;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.card-company-name {
    font-family: TTLakesCondensed-DemiBold;
}


/*History*/

.card-offer .accordion-item-toggle{
    display: block;
    position: absolute;
    text-align: center;
    width: 30px;
    height: 40px;
    border-radius: 15px;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    z-index: 100;
    border: 1px solid #fff;
    box-shadow: 0px -2px 4px rgba(0,0,0,0.1);
    background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.card-offer .accordion-item-toggle i{
    color: #540D6E;
}

.timeline-item-divider.fish {}
.timeline-item-divider.plush {
background: #fff url(../img/bg_logo-1.svg) no-repeat center center;
    background-size: 50%;
    height: 16px;
    width: 16px;
    border: 2px solid #EE4266;
    left: -5px;
}
.timeline-item-divider.plush:after, .timeline-item-divider.plush:before {
    background: #540d6e;
}

.timeline-item-divider {
    background: #540d6e;
}

.accordion-item .is-open{
    display: none;
}


.accordion-item.accordion-item-opened .is-open{
    display: inline-block;
}
.accordion-item.accordion-item-opened .is-closed{
    display: none;
}

/* ПРОФИЛЬ */
.search-tt.list .item-inner {
    justify-content: flex-start;
}
.search-tt .smart-select .item-after {
    max-width: 100%;
    margin: 0;
}